<!DOCTYPE html>
<html>
<head>
    <title>모임 결제 실패</title>
    <meta http equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<section class="section section-payment-success container mx-auto">
    <div>
        <h2>결제 실패</h2><br/>
    </div>
    <div>
        <h3>예외 메시지: [[${message}]]</h3>
        <h3>에러 코드: [[${code}]]</h3>
    </div>
</section>
</body>
</html>