<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임 목록</title>
    <!-- Bootstrap (CSS, JQUERY, JAVASCRIPT, POPPER) 포함 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/meeting-list.css}">
</head>
<body>
<!-- 헤더 대처, 추후 교체 필요 -->
<div>
    <section class="jumbotron text-center">
        <br/>
        <h5>여기는 헤더 영역</h5>
    </section>
</div>
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3">
            <nav class="nav flex-column text-center">
                <h5>장소</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="place" value="all">
                    <label class="form-check-label">전체</label><br/>
                    <input class="form-check-input" type="radio" name="place" value="online">
                    <label class="form-check-label">온라인</label><br/>
                    <input class="form-check-input" type="radio" name="place" value="offline">
                    <label class="form-check-label">오프라인</label>
                </div>
                <h5>가격</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="price" value="free">
                    <label class="form-check-label">무료</label><br/>
                    <input class="form-check-input" type="radio" name="price" value="paid">
                    <label class="form-check-label">유료</label><br/>
                </div>
                <h5>반려견 동반</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="companion" value="yes">
                    <label class="form-check-label">반려견 동반</label><br/>
                </div>
                <h5>지역 축제</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="festival" value="friendship">
                    <label class="form-check-label">친목도모</label><br/>
                    <input class="form-check-input" type="radio" name="festival" value="party">
                    <label class="form-check-label">파티</label><br/>
                    <input class="form-check-input" type="radio" name="festival" value="outdoor">
                    <label class="form-check-label">야외활동</label>
                </div>
                <h5>기타</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="etc" value="education">
                    <label class="form-check-label">교육</label><br/>
                    <input class="form-check-input" type="radio" name="etc" value="communication">
                    <label class="form-check-label">소통</label><br/>
                    <input class="form-check-input" type="radio" name="etc" value="hobby">
                    <label class="form-check-label">취미</label><br/>
                    <input class="form-check-input" type="radio" name="etc" value="self-improvement">
                    <label class="form-check-label">자기계발</label><br/>
                    <input class="form-check-input" type="radio" name="etc" value="other">
                    <label class="form-check-label">기타</label><br/>
                </div>
            </nav>
        </aside>
        <section class="col-md-9">
            <div class="text-right">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-expanded="false">
                        최신 순
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item active" href="#">최신 순</a></li>
                        <li><a class="dropdown-item" href="#">오래된 순</a></li>
                        <li><a class="dropdown-item" href="#">인기 순</a></li>
                    </ul>
                </div>
            </div>
            <section class="jumbotron text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row row-cols-1 row-cols-md-4"
                                 th:if="${meetingDtoPage != null && !meetingDtoPage.empty}">
                                <div th:each="meeting, meetingStat : ${meetingDtoPage.content}"
                                     class="col"
                                     th:classappend="${(meetingStat.index % 4 != 0) ? 'col-sm-3 mb-4' : 'col-sm-3'}">
                                    <h5 class="card-title" th:text="${meeting.meetingTitle}"></h5>
                                    <div class="card">
                                        <div class="card-body d-flex flex-column align-items-center">
                                            <ul class="list-group list-group-flush">
                                                <img class="list-group-item" th:src="${meeting.path}"/>
                                                <li class="list-group-item">
                                                    <a th:href="@{/meetings/{id}(id=${meeting.id})}"
                                                       class="btn btn-primary">지금 바로 확인하기 🔍</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:unless="${meetingDtoPage.first}">
                        <a class="page-link" th:href="@{/meetings(page=${meetingDtoPage.number - 1})}"><<</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, meetingDtoPage.totalPages - 1)}"
                        th:class="${i == meetingDtoPage.number ? 'active' : ''}">
                        <a class="page-link-list" th:href="@{/meetings(page=${i})}">[[${i + 1}]]</a>
                    </li>
                    <li class="page-item" th:unless="${meetingDtoPage.last}">
                        <a class="page-link" th:href="@{/meetings(page=${meetingDtoPage.number + 1})}">>></a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>
<script>
    // dropdown item들을 선택
    let dropdownItems = document.querySelectorAll(".dropdown-item");
    // 각 item에 클릭 이벤트를 연결
    dropdownItems.forEach((item) => {
        item.addEventListener("click", function (event) {
            // 클릭한 item의 text 매핑
            let selectedText = event.target.textContent;
            // 버튼의 text를 클릭한 item의 text로 변경
            document.getElementById("dropdownMenuButton").textContent = selectedText;
        });
    });
</script>
</body>
</html>