<!DOCTYPE html>
<html>
<head>
    <title>모임 결제 성공</title>
    <meta http equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<section class="section section-payment-success container mx-auto">
    <div>
        <h2>결제 완료</h2><br/>
    </div>
    <div>
        <h3>주문 번호: [[${orderId}]]</h3>
        <h3>결제 모임: [[${orderName}]]</h3>
        <h3>결제 가격: [[${amount}]]</h3>
    </div>
</section>
</body>
</html>