.col-md-3 {
    margin-top: 40px;
}

nav .form-check-input {
    width: 20px;
}

nav .form-check {
    margin-bottom: 30px;
}

.dropdown {
    margin-bottom: 15px;
}

.col-md-9 {
    padding-right: 200px;
}

.jumbotron text-center {
    padding-right: 200px;
}

nav .Page navigation example{
    padding-right: 200px;
}