<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <style>
    .bold {
      font-weight: bold;
      color: black;
      transition: color 0.5s ease;
    }
    .bold:hover {
      color: #FFEB5A;
    }
    .fix {
      background-color: rgb(60, 60, 60) !important;
      width: 100%;
      position: fixed !important;
      animation: down 0.5s ease !important;
    }
    @keyframes down { 0%{
      transform: translateY(-50px)
    }
      100
      %
      {
        transform
        :
                translateY(
                        0px
                )
      }
    }
    .font_pala{
      font-family: "Palatino Linotype";
      font-weight: bold;
    }
    #padding{
      padding: 15px 0 15px 0;
    }
    @font-face {
      font-family: 'NanumSquareNeo-Variable';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
    body {
      font-family: 'NanumSquareNeo-Variable','Palatino Linotype' !important;
    }
  </style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>게시글 작성</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-dbszL+y3o9GMQQ3ik8yYwtI4ne/9orhz6aqrKIjjb0S1asKo49Jg4kot+UamYNlt"
          crossorigin="anonymous"></script>
  <script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
<!--네비게이션바 양정아-->
<div>
  <header style="margin: 0">
    <div th:include="navbarJ"></div>
  </header>
  <br><br>
  <!--  컨텐츠 시작-->
  <div class="container-md" style="margin-top: 70px; padding: 0; margin-bottom: 100px" >
    <div class="row" style="margin-left: 30px; margin-right: 20px">
      <!--    사이드메뉴-->
      <aside class="col-md-2 col-sm-12">
        <nav class="nav flex-column text-left">
          <div><h5 style="font-weight: bold; cursor: pointer">멍멍이야기</h5></div>
          <br>
          <div>
            <h6 class="bold" onclick="window.location.href='/articles/articleList';"
                style="cursor: pointer;">STORY</h6>
          </div>
          <br>
          <div>
            <h6 class="bold" onclick="window.location.href='/articles/issueList';"
                style="cursor: pointer;">공지사항</h6>
          </div>
          <br>
          <div>
            <h6 class="bold" onclick="window.location.href='/articles/aboutUs';"
                style="cursor: pointer;">ABOUT US</h6>
          </div>
          <div th:if="${customUser !=null and customUser.admin}">
            <br>
            <div>
              <h6 class="bold" onclick="window.location.href='/articles/createArticle';"
                  style="cursor: pointer; color: #FFEB5A">게시글 작성</h6>
            </div>
            <br>
            <div>
              <h6 class="bold" onclick="window.location.href='/articles/createIssue';"
                  style="cursor: pointer;">공지사항 작성</h6>
            </div>
          </div>
        </nav>
      </aside>
    <div class="col-md-10 d-flex">
      <div class="col-md-1" >
      </div>
      <div class="col-md-10" >
        <form th:action="@{/articles/createArticle}" method="post" th:object="${articleForm}">
          <div class="mb-3">
            <label for="" class="form-label">
              게시글 제목
            </label>
            <div class="input-group">
              <input id="title" class="form-control" type="text" th:field="*{articleTitle}"
                     placeholder="제목을 입력해주세요">
            </div>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">
              게시글 내용
            </label>
            <div class="input-group">
              <textarea name="contents" class="form-control" id="contents" th:field="*{content}"></textarea>
              <script>
                CKEDITOR.replace("contents", {
                  filebrowserImageUploadUrl: "/imageArticle/upload",
                  extraPlugins : 'autogrow'
                });
              </script>
            </div>
            <br>
            <div class="d-flex justify-content-between">
              <div>
                <button  onclick="toggleAiInputVisibility()" id="aiMode" class="btn btn-primary" type="button">AI mode</button>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-secondary" type="submit">작성 완료</button>
              </div>
            </div>
            <br>
            <div id="aiInput" class="input-group" style="visibility: hidden;" >
              <input id="submitGpt" class="form-control" placeholder="주제를 입력해주세요.">
              <button id="submitButton1" type="button" class="btn btn-outline-secondary">제출</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function toggleAiInputVisibility() {
    var aiInput = document.getElementById("aiInput");
    if (aiInput.style.visibility === "hidden" || aiInput.style.visibility === "") {
      aiInput.style.visibility = "visible";
    } else {
      aiInput.style.visibility = "hidden";
    }
  }

  $("#submitButton1").click(function() {
    // AJAX 요청을 서버에 보냅니다.
    var subject = $("#submitGpt").val();
    $.ajax({
      url: '/articles/gpt',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ subject: subject }),
      success: function(response) {
        // response.status를 textarea에 할당
        $("#contents").val(response.status);

        // CKEditor의 내용을 업데이트 (CKEditor를 사용하는 경우)
        CKEDITOR.instances.contents.setData(response.status);
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>
</body>
</html>